[submodule "hastodon"]
	path = hastodon
	url = https://github.com/as-capabl/hastodon.git
[submodule "machinecell"]
	path = machinecell
	url = https://github.com/as-capabl/machinecell
[submodule "ecke-sachs"]
	path = ecke-sachs
	url = ./ecke-sachs
